body {
    overflow-y: scroll;
    width: 800px;
    margin: 8px auto;
    padding-left: 1em;
    border-left: 1px solid #ccc;
}

main {
    min-height: 20em;
}

footer {
    border-top: 1px solid #ccc;
    min-height: 4em;
    text-align: center;
}

.game21 {
    min-height: 60vh;
}

.game21 input[type="submit"] {
    min-width: 120px;
    padding: 0.5rem;
}

.playbtn form {
    display: inline;
    margin-right: 1rem;
}
